@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(announcementsList: Seq[Announcement])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Announcements") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
   <h1>Announcements</h1>

   <ul>
       @for(announcement <- announcementsList) {
            <li class="announcement">@announcement.message</li>
       }
   </ul>

}
